.queue {
  width: 90%;
  min-width: 20em;
  border-radius: 1.5em;
  border: 2px solid black;
  position: relative;
}

.queue .remove_queue {
  position: absolute !important;
  top: 1em;
  left: 0.75em;
  border-radius: 0.5em;
  z-index: 2;
}

/* bootstrap xs */
@media only screen and (max-width: 575px) {
  .queue {
    width: 100vw;
  }
}

.form {
  white-space: nowrap;
}

.save {
  position: relative;
  top: 0.5em;
}

body .name_input {
  font-size: 1.5em;
}

body .queue-item {
  min-width: 12em;
  max-width: 12em;
  border: none;
}

.queue-item:hover {
  cursor: move;
}

.image_overlay {
  background: black;
}

.image:hover {
  opacity: 0.6;
}

body .remove_item {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}

.queue-item:hover .remove {
  display: block;
}
