.queue {
  min-width: 18em;
  max-width: 40em;
  width: 50%;
}

body .queue-item {
  color: #333;
}

body .thumbnail {
  height: 6em;
}

.movie-title {
  font-size: 1.4em;
  font-weight: bold;
}

/* Bootstrap xs and sm */
@media only screen and (max-width: 767px) {
  .queue {
    width: 80%;
  }
}

/* Bootstrap xs */
@media only screen and (max-width: 575px) {
  .queue {
    margin: 1em;
  }

  body .thumbnail {
    display: none;
  }
}
