form .search-input {
  border-radius: 0;
  min-width: 15em;
  max-width: 40em;
  position: relative;
  left: 1.3125em;
}

form .search-button {
  border-radius: 0;
  position: relative;
  right: 1.3125em;
}
